<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="./dist/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="../../../index.html">Proyecto final Fisica 1</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../measurementConverter/index.html">Conversiones <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../freeFall/index.html">Caida libre <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../secondLawOfNewton/index.html">Segunda Ley Newton <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="container">
        <h1 class="pt-5">Segunda ley de Newton</h1>
        <div class="pt-3 ml-1 left">
            <p>
            <blockquote>
                La Segunda Ley de Newton también conocida como Ley Fundamental de la Dinámica, es la que determina una
                relación proporcional entre fuerza y variación de la cantidad de movimiento o momento lineal de un
                cuerpo. Dicho de otra forma, la fuerza es directamente proporcional a la masa y a la aceleración de un
                cuerpo.
            </blockquote>
            <strong>
                Esta calculadora funciona de forma totalmente reactiva, al ingresar el valor de un input esta
                automaticamente calcula los resultados de las variables restantes. En la parte inferior se muestran las
                formulas utilizadas para generar dichos resultados.
            </strong>
            </p>
        </div>
        <hr>

        <div class="pt-3 form-group left right">
            <div class="form-row">
                <div class="col">
                    <label for="force" class="col">Fuerza</label>
                    <div class="input-group mb-3 col">
                        <input class="form-control" type="number" name="force" id="force" />
                        <div class="input-group-prepend">
                            <span class="input-group-text">N</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label for="mass" class="col">Masa</label>
                    <div class="input-group mb-3 col">
                        <input class="form-control" type="number" name="mass" id="mass" />
                        <div class="input-group-prepend">
                            <span class="input-group-text">kg</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label for="acceleration" class="col">Aceleracion</label>
                    <div class="input-group mb-3 col">
                        <input class="form-control" type="number" name="acceleration" id="acceleration" />
                        <div class="input-group-prepend">
                            <span class="input-group-text">m/s<sup>2</sup></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="initialSpeed" class="col">Velocidad inicial (Vo)</label>
                    <div class="input-group mb-3 col">
                        <input class="form-control" type="number" name="initialSpeed" id="initialSpeed" value="0" />
                        <div class="input-group-prepend">
                            <span class="input-group-text">m/s<sup>2</sup></span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label for="finalSpeed" class="col">Velocidad final (Vf)</label>
                    <div class="input-group mb-3 col">
                        <input class="form-control" type="number" name="finalSpeed" id="finalSpeed" />
                        <div class="input-group-prepend">
                            <span class="input-group-text">m/s<sup>2</sup></span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label for="time" class="col">Tiempo</label>
                    <div class="input-group mb-3 col">
                        <input class="form-control" type="number" name="time" id="time" />
                        <div class="input-group-prepend">
                            <span class="input-group-text">seg</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="distance" class="col">Distancia</label>
                    <div class="input-group mb-3 col">
                        <input class="form-control" type="number" name="distance" id="distance" />
                        <div class="input-group-prepend">
                            <span class="input-group-text">mts</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <button class="btn btn-primary " id="calculateAcceleration">Obtener acelerecion con tiempo y
                    distancia</button>
                <button class="btn btn-primary " id="reiniciar">reiniciar</button>
            </div>
            <h3 class="pt-4">Historial (formulas):</h3>
            <div class="col container pt-2" id="formulas-container">
            </div>
        </div>


        <h2 class="pt-5">Coeficiente de rozamiento cinetico</h2>
        <div class="pt-3 ml-1 left">
            <p>
                El coeficiente de rozamiento o coeficiente de fricción vincula la oposición al deslizamiento que ofrecen
                las superficies de dos cuerpos en contacto según la intensidad del apoyo mutuo que experimentan. Es un
                coeficiente adimensional. Usualmente se representa con la letra griega μ (mi).
            </p>
        </div>

        <div class="pt-3 form-group left right">
            <div class="form-row">
                <div class="col">
                    <label for="fuerzaFriccionCinetica" class="col">Fuerza friccion cinetica</label>
                    <div class="input-group mb-3 col">
                        <input class="form-control" type="number" name="fuerzaFriccionCinetica"
                            id="fuerzaFriccionCinetica" />
                        <div class="input-group-prepend">
                            <span class="input-group-text">N</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label for="CoeficienteRozamientoCinetico" class="col">Coeficiente de rozamiento cinetico</label>
                    <div class="input-group mb-3 col">
                        <input class="form-control" type="number" name="CoeficienteRozamientoCinetico"
                            id="CoeficienteRozamientoCinetico" />
                        <div class="input-group-prepend">
                            <span class="input-group-text">μ</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label for="fuerzaNormal" class="col">Fuerza normal</label>
                    <div class="input-group mb-3 col">
                        <input class="form-control" type="number" name="fuerzaNormal" id="fuerzaNormal" />
                        <div class="input-group-prepend">
                            <span class="input-group-text">N</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="masa" class="col">Masa</label>
                    <div class="input-group mb-3 col">
                        <input class="form-control" type="number" name="masa" id="masa" value="0" />
                        <div class="input-group-prepend">
                            <span class="input-group-text">Kg</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label for="velocidadInicial" class="col">Velocidad Inicial</label>
                    <div class="input-group mb-3 col">
                        <input class="form-control" type="number" name="velocidadInicial" id="velocidadInicial" />
                        <div class="input-group-prepend">
                            <span class="input-group-text">m/s</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label for="distancia" class="col">Distancia</label>
                    <div class="input-group mb-3 col">
                        <input class="form-control" type="number" name="distancia" id="distancia" />
                        <div class="input-group-prepend">
                            <span class="input-group-text">mts</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <button class="btn btn-primary " id="calcular">Calcular</button>
                <button class="btn btn-primary " id="reiniciar2">reiniciar</button>
            </div>
        </div>


    </section>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="module" src="./index.js"></script>
</body>

</html>