<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <header></header>
        <main>
            <select name="unit" id="unit">
                <option value="Seleccione...">Seleccione...</option>
                <option value="length">Longitud</option>
                <option value="time">Tiempo</option>
                <option value="weight">Masa</option>
            </select>
            <div>
                <input type="number" id="valueToConvert" />
                <select name="unitToConvert" id="unitToConvert">
                </select>
            </div>
            <div>
                <input type="number" id="convertedValue" />
                <select name="convertedValue" id="convertedUnit">
                </select>
            </div>
        </main>
        <footer></footer>
        <script type="module" src="./index.js"></script>
    </body>
</html>
